mat-toolbar{
    width: 100%;
}
main{
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}
mat-card{
    margin: auto;
    width: 40%;
    display: block;
}
mat-form-field{
    width: 75%;
}
.title{
    text-align: center;
    margin-right: auto;
    width: 100%;
}
.submitButton{
    padding: 0.8em 0 0.3em 0;
    margin-left: 8px;
}