  <mat-toolbar color="primary">
     <p class="title"> {{title}}</p>
  </mat-toolbar>
  <main>
    <mat-card>
      <mat-form-field appearance="outline">
        <input type="text" matInput placeholder="Añadir Tarea" #task
          (keyup.enter)="addTask(task.value); task.value=''">
      </mat-form-field>
      <button mat-stroked-button color="primary" (click)="addTask(task.value); task.value=''" class="submitButton">
        Añadir
      </button>
    </mat-card>
    <app-tasklist></app-tasklist>    
    <p>Trabajo para la asignatura Daw2</p>
  </main>
  